.c{

    background-color: #ff5252;
}

.d{

    background-color: #f57f17;
}

.e{

    background-color: #ffff00;
}


.f {

    background-color: #69f0ae;
}


.g {

    background-color: #0277bd;
}


.a {

    background-color: #304ffe;
}


.b {

    background-color: #311b92;
}